.slide {
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    align-items: center;
    text-align: center;
    transition: .5s;
}

.no-margin-left {
    margin-left: 0px;
}


.slide.fadeIn {
    opacity: 1;
}

.slide.fadeOut {
    opacity: 0;
}

.slide-text,
.slide-container {
    height: 100%;
    margin-left: 0px;
}

#introduction {
    width: 100%;
    height: 100vh;
}


.button {
    background: 0;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 15px;
    width: 80vw;
    font-weight: bold;
}

.button:hover {
    background: 0;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 15px;
    font-weight: 400;
}

#slide1-text {
    color: white;
}

#slide1-button {
    color: white;
    border: 1px solid white;
}

@media screen and (min-width: 768px) {
    .slide {
        text-align: left;
    }

    .button {
        width: fit-content;
    }

    #slide1-text {
        color: white;
    }

    #slide1-button {
        border: 1px solid white;
        color: white;
    }
}